
<% if current_user.software_quality_assurance? %>
  <%= link_to('Create New Bug',new_project_bug_path, :method => :get) %>
<%end%>
<div class='container'>
  <div class='row justify-content-center'>
    <div class='col-md-6 text-center mb-5'>
      <h2 class='heading-section'>List of Bugs</h2>
    </div>
  </div>
  <div class='row'>
    <div class='col-md-12'>
      <div class='table-wrap'>
        <table class='table'>
          <thead class='thead-primary primary-color'>
            <tr>
              <th>#</th>
              <th>Title</th>
              <th>Description</th>
              <th> <% if current_user.manager? %>
                    Assigned To
                    <% end %>
              </th>
              <th>Status</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
          <% @bugs.each do |bug| %>
            <tr>
              <th scope='row'><%= bug.id%></th>
              <td><%= bug.title %></td>
              <td><%= bug.description %></td>
              <td>
                <% if current_user.manager? %>
                   <%= User.where(id:bug&.assigned_to_id).pluck('name')[0] %>
                <% end %>
              </td>
              <td><%= bug&.status %></td>
              <td>
              <%= link_to('Details',bug_path(bug.id), :method => :get)%>
              <% if policy(bug).edit? %>
                /
              <%= link_to('Edit',edit_bug_path(bug.id), :method => :get)%>
              <% end %>
              <% if policy(bug).destroy? %>
                /
                <%= link_to('Delete',bug, method: :delete, :onclick => "return confirm('Are you sure you want to delete this post?')")%>
              <%end%>
              </td>
            </tr>
          <%end%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
