<div class='content'>
  <div class='container'>
      <div class='row'>
          <div class='col-lg-6'>
              <div class='card-box task-detail'>
                  <div class='media mt-0 m-b-30'>
                    <img class='d-flex mr-3 rounded-circle' alt='64x64' src='https://bootdey.com/img/Content/avatar/avatar2.png' style='width: 48px; height: 48px;'>
                      <div class='media-body'>
                        <h5 class='media-heading mb-0 mt-0'><%= @created_by.name%></h5><span class='badge badge-danger'><%= @bug.status%></span>
                      </div>
                  </div>
                  <h4 class='m-b-20'><%= @bug.title %></h4>
                  <p class='text-muted'><%= @bug.description %></p>
                  <ul class='list-inline task-dates m-b-0 mt-5'>
                    <li>
                      <h5 class='m-b-5'>Due Date</h5>
                      <p><%= @bug.deadline%></p>
                    </li>
                  </ul>
                  <div class='clearfix'></div>
                  <div class='assign-team mt-4'>
                      <h5 class='m-b-5'>Assign to</h5>
                      <div>
                        <a href='#'><img class='rounded-circle thumb-sm' alt='64x64' src='https://bootdey.com/img/Content/avatar/avatar5.png'> </a>
                        <%= @assigned_to.name%>
                      </div>
                  <div class='attached-files mt-4'>
                      <h5 class=''>Attached Files</h5>
                      <div class='files-list'>
                          <div class='file-box'>
                              <a href=''><img src='https://bootdey.com/img/Content/avatar/avatar1.png' class='img-responsive img-thumbnail' alt='attached-img'></a>
                              <p class='font-13 mb-1 text-muted'><small>File one</small></p>
                          </div>
                          <div class='file-box'>
                              <a href=''><img src='https://bootdey.com/img/Content/avatar/avatar2.png' class='img-responsive img-thumbnail' alt='attached-img'></a>
                              <p class='font-13 mb-1 text-muted'><small>Attached-2</small></p>
                          </div>
                          <div class='file-box'>
                              <a href=''><img src='https://bootdey.com/img/Content/avatar/avatar3.png' class='img-responsive img-thumbnail' alt='attached-img'></a>
                              <p class='font-13 mb-1 text-muted'><small>Dribbble shot</small></p>
                          </div>
                          <div class='file-box ml-3'><a href='#'><span class='add-new-plus'><i class='fa fa-plus'></i></span></a></div>
                      </div>
                      <div class='row'>
                          <div class='col-sm-12'>
                              <div class='text-right mt-4'>
                                  <button type='submit' class='btn btn-success waves-effect waves-light'>Save</button>
                                  <button type='button' class='btn btn-light waves-effect'>Cancel</button>
                              </div>
                          </div>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>
